:root {
   --basic-black: #000000;
   --basic-shadow: rgba(0, 1, 1, 0.2);
   --basic-dark: #333333;
   --basic-white: #ffffff;
   --basic-background: #f2f2f2;
   --basic-grey: #888888;
   --grey-rating: #666666;
   --grey-background: #eeeeee;
   --grey-blocked: #6a6a6a;
   --grey-hover: #ebebeb;
   --grey-active: #bdbbbc;
   --basic-blue: #81b3d2;
   --blue-active: #5496bd;
   --blue-hover: #669ec0;
   --basic-brown: #766357;
   --brown-active: #503e33;
   --brown-hover: #604e43;
   --opacity-color: rgba(255, 255, 255, 0.3);
   --opacity-footer: rgba(255, 255, 255, 0.9);
   --toggle-color: #ababab;
   --toggle-shadow: rgba(171, 171, 171, 0.3);
   --border-grey: #e5e5e5;
}

.page__body {
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: var(--basic-black);
   text-transform: uppercase;
   background-color: var(--basic-background);
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   max-width: 100%;
   height: auto;
}

.main__container {
   width: 1200px;
   margin: 0 auto;
   background-color: var(--basic-white);
   box-shadow: 0px 5px 15px var(--basic-shadow);
}

.inner__container {
   width: 1200px;
   margin: 0 auto;
   background-color: var(--basic-white);
}

/*grid*/

.page {
   height: 100%;
}

.main__container {
   min-height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-items: start;
}

/*меню*/
.main__navigation {
   display: flex;
   flex: wrap;
   min-height: 56px;
   line-height: 26px;
   font-weight: 700;
   background-color: transparent;
   position: relative;
}

.main__header-logo {
   position: absolute;
   width: 138px;
   left: 531px;
}

.site__navigation {
   display: flex;
   flex-wrap: wrap;
   min-height: inherit;
   margin: 0;
   padding: 0;
   align-items: center;
   list-style: none;
}

.site__navigation-item {
   width: 300px;
}

.site__navigation li:nth-child(1),
.site__navigation li:nth-child(2) {
   text-align: left;
}

.site__navigation li:nth-child(3),
.site__navigation li:nth-child(4) {
   text-align: right;
}

.site__navigation-item:first-child a {
   margin-left: 72px;
}

.site__navigation-item:last-child a {
   margin-right: 72px;
}

.site__navigation a {
   display: inline-block;
   vertical-align: middle;
   padding: 15px 5px;
   color: var(--basic-black);
}

.site__navigation a:hover {
   color: var(--basic-blue);
}

.site__navigation a:focus {
   color: var(--basic-black);
   opacity: 0.3;
}

.site__navigation a:active {
   color: var(--basic-brown);
}

.site__navigation a.current {
   color: var(--basic-brown);
}

/*Блок Welcome с картинкой*/
.description {
   min-height: 725px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.welcome {
   height: 510px;
   background-image: url(../img/images/welcome_sedona.svg), url(../img/images/polygon.svg),
      url(../img/images/sedona.jpg);
   background-repeat: no-repeat;
   background-position: center, bottom, center;
   margin-bottom: 10px;
}

.description h1 {
   font-size: 21px;
   font-weight: 700;
   line-height: 26px;
   text-align: center;
   margin-left: 365px;
   margin-right: 365px;
}

.description p {
   line-height: 26px;
   text-align: center;
   margin-bottom: 51px;
}

/* Блок с преимуществами */
.features {
   min-height: 1098px;
   margin-bottom: 58px;
}

.features h3 {
   font-weight: 700;
   font-size: 21px;
   text-align: center;
}

.features p {
   text-align: center;
}

.features__list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   list-style: none;
   margin: 0;
   padding: 0;
}

.features__item-first {
   grid-column: 1/-1;
   display: flex;
   min-height: 256px;
   background-color: var(--basic-blue);
   color: var(--basic-white);
}

.features__item-city,
.features__item-bridge {
   display: flex;
   flex-direction: column;
   width: 400px;
   justify-content: center;
}

.features__item-city h3 {
   margin: 0 139px;
}

.features__item-city p,
.features__item-bridge p {
   margin-top: 23px;
   margin-bottom: 0;
   padding: 0 40px;
}

.features__item-bridge h3 {
   margin: 0 120px;
}

.features__item-first img {
   display: block;
}

.features__item-second {
   background-color: var(--grey-background);
}

.features__pic-2 {
   order: -1;
}

.features__item {
   grid-column: 1/-1;
}

.reasons__list {
   display: flex;
   min-height: 330px;
   align-items: center;
   list-style: none;
   margin: 0;
   padding: 0;
}

.reasons__item {
   display: flex;
   flex-direction: column;
   width: 400px;
   text-align: center;
}

.reasons__item img {
   display: block;
   margin-left: 162px;
   margin-bottom: 5px;
}

.reasons__item h3 {
   margin-bottom: 11px;
}

.reasons__item p {
   width: 300px;
   margin-right: auto;
   margin-left: auto;
}

.features__item-second {
   width: 400px;
   min-height: 256px;
}

.features__item-second h3 {
   width: 150px;
   margin-top: 47px;
   margin-left: 130px;
}

.features__item-second p {
   width: 270px;
   margin-top: 22px;
   margin-left: 70px;
}

.features__item-second p,
.reasons__item p {
   color: var(--basic-dark);
}

/* Бронирование Flex */
.booking {
   /* min-height: 233px; */
   display: flex;
   flex-direction: column;
   align-items: center;
}

.booking h3 {
   font-weight: 700;
   font-size: 30px;
   line-height: 24px;
   text-align: center;
   padding: 0;
   margin: 0;
}

.booking p {
   width: 500px;
   margin-top: 25px;
   line-height: 24px;
   text-align: center;
   color: var(--basic-dark);
}

.booking a {
   font-weight: 700;
}

.button {
   width: 568px;
   margin-top: 32px;
   padding: 30px 0;
   font: inherit;
   font-size: 21px;
   line-height: 26px;
   text-align: center;
   color: var(--basic-white);
   vertical-align: middle;
   text-transform: uppercase;
   background-color: var(--basic-brown);
   border: none;
}
.button:hover {
   background-color: var(--brown-hover);
}

.button:active {
   background-color: var(--brown-active);
   color: var(--opacity-color);
}

.map iframe {
   position: absolute;
}

/* Footer */

.main__footer {
   min-height: 120px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
}

.main__footer.index {
   position: relative;
   z-index: 20;
   background-color: var(--opacity-footer);
   margin-top: -120px;
}

.footer__contacts {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   font-weight: 700;
   font-size: 21px;
   line-height: 26px;
}

.footer__hashtag {
   margin-left: 75px;
}

.footer__phone {
   margin-top: 5px;
   margin-left: 70px;
   margin-bottom: 20px;
}

.footer__contacts a:hover,
.footer__contacts a:focus {
   text-decoration: none;
}

.social__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   list-style: none;
   padding: 0;
   margin: 0;
}

.social__item {
   position: relative;
   width: 46px;
   height: 48px;
   background-color: var(--basic-blue);
   margin-right: 6px;
}

.social__item::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 17px;
   height: 17px;
   background: url("../img/icons/twitter.svg") center no-repeat;
}

.social__item-fb::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 12px;
   height: 22px;
   background: url("../img/icons/facebook.svg") center no-repeat;
}

.social__item-yt::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 20px;
   height: 16px;
   background: url("../img/icons/youtube.svg") center no-repeat;
}

.social__item:hover {
   background-color: var(--blue-hover);
   cursor: pointer;
}

.social__item:active {
   background-color: var(--blue-active);
}

.social__item:active::before {
   opacity: 0.3;
}

.footer__copyright {
   display: flex;
   justify-content: center;
   align-items: center;
}

.button__copyright {
   vertical-align: middle;
   text-align: center;
   margin-right: 50px;
}

.button__copyright:hover path {
   fill: var(--basic-blue);
}

.button__copyright:focus path {
   fill: var(--grey-active);
}

/* стили hotels.html */
/*фильтр*/

.filter {
   min-height: 217px;
   background: url(../img/images/background_filter.jpg) center center/cover no-repeat;
}

.filter__form {
   display: grid;
   align-items: center;
}

.filter__price {
   grid-column: 4/5;
}

.filter__list .filter__option {
   list-style: none;
   margin: 0;
   padding: 0;
   margin-top: 25px;
}

.filter fieldset {
   border: none;
}

.filter__title {
   font-weight: 700;
   font-size: 16px;
   color: var(--basic-white);
   padding-top: 27px;
}
.filter__option {
   color: var(--basic-white);
}

.filter__infra {
   margin-left: 72px;
   padding: 0;
   position: relative;
}

.filter__housing {
   padding: 0;
}

.filter__option label {
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;
}

.filter__input-checkbox + label::before {
   content: "";
   position: absolute;
   margin-left: -40px;
   transform: translateY(-2px);
   width: 23px;
   height: 23px;
   background-image: url("../img/icons/checkbox-off.svg");
}

.filter__input-checkbox:checked + label::before {
   width: 27px;
   background-image: url("../img/icons/checkbox-on.svg");
}

.filter__input-checkbox:disabled + label::before {
   background-image: url("../img/icons/checkbox-on-disabled.svg");
}

.filter__input-checkbox:checked:disabled + label::before {
   width: 27px;
   background-image: url("../img/icons/checkbox-off-disabled.svg");
}

/*сложный фильтр*/
.filter__price {
   width: 317px;
   padding: 0;
   border: none;
   margin-right: 72px;
   margin-left: auto;
}

.range__prices {
   position: relative;
   height: 36px;
   margin-top: 11px;
   margin-bottom: 20px;
   font-size: 0;
   border: 2px solid var(--basic-white);
   border-radius: 2px;
}

.range__prices::after {
   content: "";
   position: absolute;
   top: 15%;
   left: 50%;
   width: 2px;
   height: 22px;
   background: var(--basic-white);
}

.range__prices label {
   display: inline-block;
   margin-top: 6px;
   color: var(--basic-white);
   font-size: 14px;
   cursor: pointer;
}

.range__prices input {
   width: 50px;
   margin: 0;
   color: inherit;
   font: inherit;
   background: none;
   border: none;
   line-height: 1;
}

.range__prices .min-price {
   width: 90px;
   padding-left: 65px;
}

.range__prices .max-price {
   width: 90px;
   padding-left: 57px;
}

.range__controls {
   position: relative;
   margin-bottom: 33px;
}

.range__controls .scale {
   height: 2px;
   background: var(--opacity-color);
   margin-top: 20px;
}

.range__controls .bar {
   width: 79%;
   height: 2px;
   background: var(--basic-white);
}

.range__controls .toggle {
   position: absolute;
   top: -10px;
   left: 0;
   width: 4px;
   height: 4px;
   padding: 0;
   border: 8px solid var(--basic-white);
   background-color: var(--toggle-color);
   border-radius: 50%;
   box-shadow: 0 2px 1px 0 var(--toggle-shadow);
   cursor: pointer;
}

.range__controls .toggle-max {
   left: 235px;
}

.filter__button {
   display: block;
   margin: 0 auto;
   padding: 5px 35px 4px 36px;
   border: 2px solid var(--basic-white);
   font: inherit;
   text-align: center;
   color: var(--basic-white);
   vertical-align: middle;
   text-transform: uppercase;
   background: transparent;
   border-radius: 2px;
   cursor: pointer;
}

.filter__button:hover {
   background-color: var(--basic-white);
   color: var(--basic--black);
}

/* Сортировка */
.sorting {
   min-height: 86px;
   display: flex;
   align-items: center;
}

.sorting__results {
   font-weight: 700;
   font-size: 21px;
   line-height: 26px;
   margin-left: 73px;
}
.sorting__text {
   font-size: 12px;
   line-height: 18px;
   margin-left: 46px;
}

.sorting__list {
   list-style: none;
   display: flex;
}

.sorting__link {
   margin-right: 33px;
   color: var(--basic-black);
   opacity: 0.3;
   font-size: 12px;
   line-height: 18px;
   border-bottom: dotted;
}

.sorting__link:hover {
   color: var(--basic-blue);
   opacity: 1;
}

.sorting__link:focus {
   color: var(--basic-blue);
   opacity: 1;
   border-bottom: none;
}

.sorting__link:active {
   color: var(--basic-black);
   opacity: 1;
   border-bottom: none;
}

.sorting__arrows {
   margin-left: auto;
   margin-right: 73px;
}

.arrow_up {
   margin-right: 8px;
}

.arrow_down.active path {
   fill: var(--basic-blue);
}

.arrow_up:hover path,
.arrow_down:hover path {
   fill: var(--basic-black);
}

.arrow_up:active path,
.arrow_down:active path {
   fill: var(--basic-blue);
}

/* список отелей */
.hotels {
   min-height: 454px;
}

.hotels__list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.hotels__item {
   min-height: 150px;
   display: grid;
   grid-template-columns: 208px repeat(7, 1fr);
   gap: 29px;
   border-bottom: 1px solid var(--border-grey);
}

.hotels__item:first-child {
   border-top: 1px solid var(--border-grey);
}

.hotels__item .hotels__img {
   width: 135px;
   height: 90px;
   margin-top: 30px;
   margin-right: 30px;
   margin-left: 73px;
}

.hotels__descr {
   grid-column: 2 / 6;
   display: flex;
   flex-direction: column;
}

.hotels__title a {
   display: inline-block;
   margin-top: 10px;
   font-weight: 700;
   font-size: 21px;
   line-height: 26px;
   color: var(--basic-black);
}

.hotels__title a:hover {
   color: var(--basic-blue);
}

.hotels__title a:active,
.hotels__title a:focus {
   color: var(--basic-black);
   opacity: 0.3;
}

.hotels__descr p {
   margin-top: -10px;
   display: flex;
   justify-content: space-between;
   width: 181px;
}

.hotels__type,
.hotels__price {
   color: var(--basic-dark);
}

.hotel__button {
   color: var(--basic-white);
   background-color: var(--basic-blue);
   font-size: 14px;
   font-weight: 700;
   line-height: 21px;
   padding: 3px 16px 3px 17px;
}

.hotel__button:hover {
   background-color: var(--blue-hover);
}

.hotel__button:active {
   background-color: var(--basic-blue);
   color: var(--opacity-color);
}

.button__book {
   font-weight: 700;
   font-size: 14px;
   line-height: 21px;
   padding: 3px 16px 3px 17px;
   margin-left: 6px;
   vertical-align: baseline;
}

.hotels__rating {
   grid-column: -1;
   margin-right: 73px;
   margin-left: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
}

.hotels__score {
   background-color: var(--basic-background);
   text-align: center;
   color: var(--grey-rating);
   padding: 3px 12px 3px 15px;
   margin-bottom: 18px;
}
